# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore environment variables file
.env

# Ignore package dependencies
*.egg-info/
dist/
build/

# Ignore virtual environment folders
venv/
env/
.venv/
.env/

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log
*.log.*

# Ignore Docker-related files
docker-compose.yml
